PRODUCTION=true
SERVER_URL='example.com'

# The public IP of the server 
LISTEN_IP='123.123.123.123'

AUTH_URL='https://example.com'
AUTH_PORT=''
AUTH_PATH='/auth'

MEDIASOUP_URL='wss://example.com'
MEDIASOUP_PORT=''
MEDIASOUP_PATH='/socket'

# Be aware! The database variables are used on INITIAL STARTUP of the database container only. So change these to appropriate values BEFORE creating the database container.
DATABASE_PASSWORD='megasecretdatabasepassword'
DATABASE_NAME="inclubit"
# Prisma cli supports expanding env vars. dotenv-cli apparently also does. So we should be fine!
DATABASE_URL="postgresql://postgres:${DATABASE_PASSWORD}@localhost:5432/${DATABASE_NAME}?schema=public"

# changing this (and restarting) should logout everyone by invalidating their sessions. Haven't tried though...
SESSION_KEY='secretKeyUsedByTheUserSessions'

ADMIN_PASSWORD='PLEASEchangeMEorIwillCRYtrueTEARSofSADNESS'

JWT_SECRET='SOOOOOSECRETPLEASEPUTGOODPASSWORDHERE'
JWT_ISSUER='Inclubit auth server'
JWT_AUDIENCE='inclubit application'