// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$body-font-size   : 16px !default;
$button-font-size: $body-font-size;
$input-font-size: $body-font-size;
html {
  font-size: $body-font-size;
}

$primary   : rgb(255, 102, 0);

$secondary : #008bc2;

$dark      : #393e46;

$background: #222831;

body.body--dark {
  background: $background;
}

$positive  : #21BA45;
$negative  : #ff001e;
$info      : #31CCEC;
$warning   : #F2C037;

// @font-face {
//   font-family: 'Caaairo';
//   src: url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap&size-adjust=50%');
//   size-adjust: 50%;

// }
// // Cairo
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap&size-adjust=50%');
$typography-font-family: 'Cairo', sans-serif;

// Dosis font
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');