---
- name: Install dependencies
  hosts: localhost
  environment:
    CI: "true" # Make pnpm not touch lockfile when running from ansible
  tasks:
    - name: Global node packages
      block:
        - name: Add dotenv-cli
          community.general.pnpm:
            global: true
            name: dotenv-cli
        - name: Add pm2
          community.general.pnpm:
            global: true
            name: pm2
    - name: Install all js dependencies
      community.general.pnpm:
        path: "{{ ansible_env.HOME }}/origoshift"
- name: Setup database
  hosts: localhost
  tasks:
    - name: Generate prisma client
      ansible.builtin.command:
        argv:
          - pnpm
          - --filter
          - database
          - generate
      changed_when: true
    - name: Create/Start postgres DB
      ansible.builtin.command:
        chdir: "{{ playbook_dir }}/.."
        cmd: docker compose --ansi never --progress plain up -d
      register: temp_compose_up
      changed_when: "'Started' in temp_compose_up.stdout or 'Started' in temp_compose_up.stderr"
    # - name: wait for postgres
    #   community.postgresql.postgresql_ping:
    #     login_password
    - name: Wait for postgres to spin up
      ansible.builtin.wait_for:
        host: localhost
        port: 5432
    - name: Migrate database
      ansible.builtin.command: pnpm --filter database migrate:deploy
      register: migration_output
      changed_when: "not 'No pending migrations' in migration_output.stdout"
    - name: Seed database
      ansible.builtin.command: pnpm --filter database seed
- name: Build monorepo
  hosts: localhost
  tasks:
    - name: Build database js bundle
      ansible.builtin.command: pnpm --filter database build
      changed_when: true
    - name: Build shared packages
      ansible.builtin.command:
        chdir: "{{ playbook_dir }}/.."
        argv:
          - pnpm
          - --filter
          - "./packages/**"
          - -r
          - build
      changed_when: true
    - name: Build all the node projects
      ansible.builtin.command:
        chdir: "{{ playbook_dir }}/.."
        argv:
          - pnpm
          - --filter
          - "!./packages/**"
          - -r
          - build
      changed_when: true
